[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3.6"
